
- session_id = @room.session_token

%script{ :src => "#{opentok_js}", :type => "text/javascript" }

:javascript

  $(function() {
    streamManager = new StreamManager('#{session_id}', '#{opentok_key}', '#{opentok_token(session_id)}');
  });


%p#notice= notice

.alert.alert-info
  The link to this room is
  =link_to room_url(@room)
  %span.clippy-container=clippy(room_url(@room), '#D9EDF7')

/ %div
/   For higher-quality video
/   %li
/     Navigate to
/     %code chrome://flags
/     in Chrome.
/     %li
/       Find the
/       %strong Enable PeerConnection
/       flag and click
/       = succeed "." do
/         %strong Enable
/     %li Relaunch Chrome.

#video-container
  #published