!!!5
%html
  %head
    %title
      = app_name
      | Quick online video chat
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body

    - if Rails.env.development?
      %script{:src => "http://localhost:3000/lp-client.js", :type => "text/javascript"}
    - else
      %script{:src => "https://demo.loginprompt.com/lp-client.js", :type => "text/javascript"}

    = render 'layouts/header'
    .container
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert

      - if Rails.env.development?
        :javascript
          LP.constants.urlBase = 'http://localhost:3000';
          window.loginPrompt = new LP('507c4b060a967c2f2e000001');
      -else
        :javascript
          window.LP.constants.urlBase='https://demodemo.loginprompt.com';
          window.loginPrompt = new LP('507dc578d8dc770200000001');
          // $(document).on(LP.constants.eventAfterLoginStateChange, function(e, loginState) {
          //   if (loginState === LP.constants.loginStateLoggedIn) {
          //     window.location.reload();
          //   }
          // });

      = yield

    - if Rails.env.development?
      = debug JSON.parse(cookies['LP-auth']) if cookies['LP-auth'].present?
      = debug(current_user) 
