!!!5
%html
  %head
    %title
      = app_name
      | Quick online video chat
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    / .alert 
    /   Hi. We've noticed you're using an ad blocker. This site is ad-supported. If you like our content would you mind donating a small amount?
    /   .btn.btn-info donate here
    /   %a more info

    / %script{:src => "/assets/jquery.js?body=1", :type => "text/javascript"}
    /%script{:src => "http://demo.loginprompt.com/jquery.cookie.js", :type => "text/javascript"}
    / %script{:src => "http://demo.loginprompt.com/lp-client.js", :type => "text/javascript"}

    %script{:src => "http://localhost:3000/jquery.cookie.js", :type => "text/javascript"}
    %script{:src => "http://localhost:3000/lp-client.js", :type => "text/javascript"}

    = render 'layouts/header'
    .container
      - if notice
        %p.notice= notice
      - if alert
        %p.alert= alert
      = yield

    - if Rails.env.development?
      = JSON.parse(cookies['LP-auth']) if cookies['LP-auth'].present?
      = current_user.inspect

    / window.loginPrompt.addUserRegistrationFields([
    /   ['First Name', 'first_name', new RegExp('[A-Za-z].*')],
    /   ['Last Name', 'last_name']
    / ]);

    :javascript
      window.loginPrompt = new LP();
      $(document).on(LP.constants.eventAfterLoginStateChange, function(e, loginState) {
        if (loginState === LP.constants.loginStateLoggedIn) {
          window.location.reload();
        }
      });
  
      window.loginPrompt.init('.loginPrompt');